@import url('https://fonts.googleapis.com/css2?family=Archivo:ital@0;1&family=Berkshire+Swash&family=Jacquard+24&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

p, ul, ol {
    font-size: 20px;
    line-height: 30px;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}

a {
    color: rgb(255, 74, 74);
}

a:hover {
    color: rgb(74, 119, 255);
}

a:active {
    color: rgb(164, 74, 255);
}

a:visited {
    color: rgb(66, 66, 66);
}

p.caption {
    font-size: 16px;
    color: rgb(95, 95, 95);
    font-style: italic;
    margin: 0;
}

header {
    text-align: center;
    background-color: rgb(47, 115, 242);
    padding: 20px;
}

header .pfp {
    width: 300px;
    height: 300px;
    border: 20px solid rgb(255, 74, 74);
    border-radius: 50%;
    background-image: url("./../img/armand-avatar-sm.jpg");
    background-repeat: no-repeat;
    background-position: -190px -120px;
    background-size: 170%;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    font-family: "Jacquard 24", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 10px 0 20px 0;
    color: white;
  }

  h2 {
    font-size: 50px;
    font-family: "Jacquard 24", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 20px 0;
  }

  main {
    width: 800px;
    margin: 0 auto;
  }

  main img {
    max-width: 100%;
  }